{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    {% include 'pharmacy/includes/banner.html' %}

    <h1>{{ title }}</h1>
    <div class="product-list">
        {% for product in products %}
            <div class="product-card">
                <div class="article-panel">
                    <span class="first">Category: {{ product.category.name|default:"Uncategorized" }}</span>
                    <span class="last">Updated: {{ product.updated_at|date:"d-m-Y H:i" }}</span>
                </div>
                <strong>{{ product.name }}</strong>
                <p>{{ product.description|truncatewords:30 }}</p>
                <a href="{{ product.get_absolute_url }}" class="view-details">View Details →</a>
                {% if not forloop.last %}<hr>{% endif %}
            </div>
        {% empty %}
            <p>No products available.</p>
        {% endfor %}
    </div>
{% endblock %}