{% load static %}
{% load pharmacy_tags %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Pharmacy Site{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'pharmacy/css/style.css' %}">
</head>
<body>
    <div class="header">
        <img src="{% static 'pharmacy/images/logo.png' %}" alt="Logo" height="60">
        <h1>Pharmacy</h1>
    </div>

    <ul>
        {% for m in menu %}
            <li><a href="{% url m.url_name %}">{{ m.title }}</a></li>
        {% endfor %}
    </ul>

    <!-- Sidebar -->
    <div style="float: left; width: 200px; margin-right: 20px;">
        {% show_categories %}
    </div>

    <!-- Main content -->
    <div style="margin-left: 220px;">
        {% block content %}{% endblock %}
    </div>
</body>
</html>